*.class

# Results and unmatching files, do not add them to the repo
results.txt
unmatchlistings.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar  need to comment to allow to upload the minimal json jar lib

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
